<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Index</title>
<meta name="keywords" content="My_record,about" /> <meta charset="UTF-8" />
<link href="{{url_for('static',filename = 'css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
<meta name="keywords" content="Myrecord,login" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files  -->
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->
<link href="{{url_for('static',filename = 'css/animate-custom.css')}}" rel="stylesheet" type="text/css" media="all" />
<link href="{{url_for('static',filename = 'css/login.css')}}" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>

<div class="header">
	<h1>Welcome</h1>
</div>
<div class="content">
	<section>

        <div id="container_demo" >
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
				<div id="login" class="animate form">
					<div class="content-img">
						<img src="{{url_for('static',filename = 'images/login.png')}}" alt="img" class="w3l-img">
					</div>
                    <form  action="" autocomplete="on" method="post" >
                        <h2>Login now!</h2>
                        <p>
							<label for="ID" class="uname" data-icon="u" > Student/Teacher ID </label>
                            <input id="ID" name="ID" required="required" type="text" placeholder="ID"/>
                            <input name="Cookieflag" value="0" type="hidden"  id ="Cookieflag">
                        </p>
						<p>
                            <label for="password" class="youpasswd" data-icon="p"> Password </label>
							<input id="password" name="password" required="required" type="password" placeholder="password" />
                        </p>
                        <p class="login button">
                            <input type="submit" value="Login" name = 'log_in'/>
						</p>

                        <p class="change_link">
							Platform manager click here
							<a href="#toregister" class="to_register">--></a>
						</p>

                    </form>
                </div>
                {% if flag == 1 %}
                <script>
                        alert('username or password is not vaild, please check your input');
                </script>
                {% endif %}
				<div id="register" class="animate form">
					<div class="content-img">
						<img src="{{url_for('static',filename = 'images/sign up.png')}}" alt="img" class="w3l-img">
					</div>
                    <form  action="" autocomplete="on" method="post">
                        <h2> Platform Manager Login </h2>
                         <p>
							<label for="pm_ID" class="uname" data-icon="u" > Platform Manager ID </label>
                            <input id="pm_ID" name="pm_ID" required="required" type="text" placeholder="ID"/>
                        </p>
						<p>
                            <label for="password" class="youpasswd" data-icon="p"> Password </label>
							<input id="pm_password" name="pm_password" required="required" type="password" placeholder="password" />
                        </p>
                        <p class="signin button">
							<input type="submit" value="Log in"  name="pm_log_in" if/>
						</p>
                        <p class="change_link">
							Teacher & Student click here
							<a href="#tologin" class="to_register"><--</a>
						</p>
                    </form>
                </div>
			</div>
        </div>
                 {% if flag == 2 %}
                <script>
                        alert('Success!');

                </script>
        {% endif %}
        {% if flag == 5 %}
                <script>
                        alert('Please login ');
                </script>
                {% endif %}
        {% if flag == 6 %}
                <script>
                        alert('Change password success! pLease login again ');
                </script>
                {% endif %}
    </section>
</div>
<div class="footer">
	<p>© 2022 AI experiment platform. All Rights Reserved | Design by Yiqi Huang</p>
</div>
<script>
</script>
</body>
</html>