
    .table th {
        background-color:#FF5675;
        color:#FFFFFF;
        border:1;
    }
    .table,.table th,.table td {
        font-size:1em;
        text-align:center;
        padding:4px;
        border-collapse:collapse;
    }
    .table th,.table td {
        border: 1px solid #fe2047;
        border-width:1px 0 1px 0;
        border:2px inset #ffffff;
    }
    .table tr {
        border: 1px solid #ffffff;
    }
    .table tr:nth-child(odd){
        background-color:#fec6d1;
    }
    .table tr:nth-child(even){
        background-color:#ffffff;
    }
